<template>
  <div class="card-body">
    <div class="sponsored_header">
      <h4>Sponsored</h4>
    </div>

    <div class="sponsored_contents">
      <div class="float-left sponsored_img">
        <img :src="getImgURL">
      </div>
      <div class="sponsored_content float-right">
        <h5 class="card-title">{{getTitle}}</h5>
        <p class="card-text">{{getContents}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "adComp",
  props: ["adscount", "ads"],
  data() {
    return {
      adContent: {},
      imgname: ""
    };
  },
  computed: {
    getImgURL() {
      if (this.ads[this.adscount - 1]) {
        return (
          "http://comento.cafe24.com/public/images/" +
          this.ads[this.adscount - 1].img
        );
      }
    },
    getTitle() {
      if (this.ads[this.adscount - 1]) {
        return this.ads[this.adscount - 1].title;
      }
    },
    getContents() {
      if (this.ads[this.adscount - 1]) {
        return this.ads[this.adscount - 1].contents;
      }
    }
  }
};
</script>

<style lang="less" scoped>
@media (max-width: 480px) {
  div.card-body {
    padding: 10px;
    div.sponsored_contents {
      display: flex;
      flex-direction: column;
      div.sponsored_img {
        width: 100%;
        flex: 0.6;
        img {
          width: 100%;
          height: 100%;
        }
      }
      div.sponsored_content {
        flex: 0.4;
        p.card-text {
          width: 100%;
          height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
@media (min-width: 481px) {
  div.sponsored_header {
    text-align: left;
    h4 {
      font-size: 18px;
    }
  }
  div.sponsored_contents {
    display: flex;
    flex-direction: row;
    div.sponsored_img {
      width: 45%;
      height: 100%;
      flex: 1;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.sponsored_content {
      flex: 1;
      p.card-text {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
      }
    }
  }
}
</style>

