<template>
  <div id="detailPage_wrap">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">{{contents.title}}</h3>
        <div class="flex-left d-inline-block detail-user-info">
          <span>{{contents.email}} | {{contents.updated_at}}</span>
        </div>
        <div class="text-justify detail-contents">{{contents.contents}}</div>
      </div>
    </div>
    <div class="card replies-card" v-if="replies.length !== 0">
      <div class="card-header">
        <h4>Comments</h4>
      </div>
      <div class="card-body">
        <div v-for="(item, index) in replies" :key="index">
          <div class="user-info">
            <p>{{item.email}}</p>
            <p>{{item.updated_at}}</p>
          </div>
          <div class="reply-contents">
            <p>{{item.contents}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "detailpage",
  data() {
    return {
      contents: {},
      replies: []
    };
  },
  created() {
    const _self = this;
    const articleNum = this.$route.query.num;
    this.$http
      .get("/detail.php", {
        params: {
          req_no: articleNum
        }
      })
      .then(result => {
        _self.contents = result.data.detail.article;
        _self.replies = result.data.detail.replies || [];
      });
  }
};
</script>

<style lang="less" scoped>
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  div.detail-contents,
  div#detailPage_wrap {
    margin-top: 40px;
    animation: fade 1s ease-out;
  }
  div.user-info {
    color: gray;
    font-size: 1rem;
    padding: 20px 0 0 0;
    vertical-align: middle;
    text-align: left;
    > p {
      margin: 0;
    }
  }
  div.detail-user-info {
    font-size: 0.9rem;
    color: gray;
  }
  div.replies-card {
    margin-top: 20px;
    .card-body {
      display: inline-block;
      > div {
        display: inline-block;
        > div {
          display: inline-block;
        }
      }
    }
  }
}
@media (min-width: 481px) {
  div#detailPage_wrap {
    margin: 40px;
    animation: fade 1s ease-out;
  }
  div.user-info {
    color: gray;
    font-size: 1rem;
    padding: 20px;
    vertical-align: middle;
    text-align: center;
  }
  div.detail-user-info {
    font-size: 0.9rem;
    color: gray;
  }
  div.replies-card {
    margin-top: 20px;
    .card-body {
      display: table;
      > div {
        display: table-row;
        > div {
          display: table-cell;
        }
      }
    }
  }
  div.detail-contents {
    margin-top: 40px;
  }
}
</style>
