<template>
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
    id="filterModal"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <span class="float-right modalCloseBtn" @click="closeModal">X</span>
          <h5>필터</h5>

          <div id="checkFormGroup">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                v-model="filterCategories[0]"
              >
              <label class="form-check-label" for="inlineCheckbox1">카테고리1</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox2"
                v-model="filterCategories[1]"
              >
              <label class="form-check-label" for="inlineCheckbox2">카테고리2</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox3"
                v-model="filterCategories[2]"
              >
              <label class="form-check-label" for="inlineCheckbox3">카테고리3</label>
            </div>
          </div>
          <div class="saveFilterBtn_wrap d-inline-block">
            <button
              type="button"
              class="btn btn-success float-right"
              id="saveFilterBtn"
              @click="saveFilter"
            >저장</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "filterModal",
  data() {
    return {
      filterCategories: [true, true, true]
    };
  },
  methods: {
    saveFilter() {
      $("#filterModal").modal("toggle");
      
      // binding with parent variable
      this.$emit("saveFilter", this.filterCategories);
      this.$emit("sort", "acr");
    },
    closeModal() {
      $("#filterModal").modal("toggle");
    }
  }
};
</script>

<style lang="less" scoped>
div#checkFormGroup {
  text-align: center;
  margin: 20px 0 auto;
}
div.saveFilterBtn_wrap {
  width: 100%;
}
span.modalCloseBtn {
  font-size: 13px;
  color: gray;
  cursor: pointer;
}
</style>

