<template>
  <div id="mainView">
    <section id="pageFeatures">
      <!-- Filter Btn -->
      <button type="button" class="btn btn-light float-left" @click="showFilterPopup">필터</button>
      <!-- [End] Filter Btn -->

      <!-- Alienment Functions -->
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn btn-link"
          :class="{active: isasc}"
          @click="sortList('acr')"
        >오름차순</button>
        <button
          type="button"
          class="btn btn-link"
          :class="{active: !isasc}"
          @click="sortList('desc')"
        >내림차순</button>
      </div>
    </section>
    <!-- [End] Alienment Functions -->

    <!-- Contents Body -->
    <section id="basicContents">
      <!-- Loop Drawing Contents by using 'v-for' -->
      <div class="content" v-for="(item, index) in articleLists" :key="item.no">
        <div class="card" @click="moveToDetail(item.no)">
          <div class="card-header">
            <div class="categoryName float-left align-middle inline-block">
              <h4>{{getCategoryName(item.category_no)}}</h4>
            </div>
            <div class="article_num float-right align-middle inline-block">
              <h5>
                <span style="color:gray;font-size:10px">No.</span>
                {{item.no}}
              </h5>
            </div>
          </div>

          <div class="card-body">
            <div class="card-info float-left d-block">
              <span>{{item.email}}</span>
              <span>|</span>
              <span style="color:gray">{{item.updated_at}}</span>
            </div>
            <div class="card-contents d-inline-block">
              <h5 class="card-title float-left">{{item.title}}</h5>
              <p class="card-text">{{item.contents}}</p>
            </div>
          </div>
        </div>
        <!-- 컨텐츠 4개에 한번 광고 삽입 / 별도 컴포넌트 제작 : ads-comp -->
        <div class="card sponsored" v-if="(index + 1) % 4 === 0">
          <ads-comp :adscount="(index + 1) / 4" :ads="adsList"></ads-comp>
        </div>
      </div>
    </section>

    <!-- filter Modal -->
    <filter-modal ref="filterModal" @sort="sortList" @saveFilter="saveFilter"></filter-modal>
  </div>
</template>

<script>
import adsComp from "@/components/adsComp";
import filterModal from "@/components/filterModal";

export default {
  name: "mainpage",
  components: {
    adsComp,
    filterModal
  },
  data() {
    return {
      articleLists: [], // 본문 리스트
      categoryLists: [], // 카테고리 분류 리스트
      adsList: [], // 광고 리스트
      pageCounter: 1, // 페이지 처리를 위한 변수
      isasc: true, // 정렬을 위한 변수
      filterCategories: [true, true, true], // 필터처리를 위한 변수
      isFire: false // 스크롤 이벤트 과다 발생 방지
    };
  },
  methods: {
    // 디테일 페이지 이동. 매개변수 : 글 번호
    moveToDetail(articleNum) {
      this.$router.push({ path: "/detail", query: { num: articleNum } });
    },
    // 팝업 Show, 팝업은 컴포넌트로 만들었지만, Bootstrap Modal 사용하면 안된다는 명시가 없었기 때문에 Bootstrap Modal 사용.
    showFilterPopup() {
      $("#filterModal").modal();
    },
    refreshLists(pagecounter, direction, filter) {
      this.getContentsList(pagecounter, direction, filter);
      this.getAdsList(pagecounter);

      this.pageCounter += 1;
    },
    // 리스트 정렬 @direction = 'asc' | 'desc'
    sortList(direction) {
      this.articleLists = [];
      this.adsList = [];
      this.pageCounter = 1;

      const filter = this.getFilterValues();

      this.refreshLists(this.pageCounter, direction, filter)

      this.isasc = this.isasc ? false : true;
    },
    // filter Modal에서 받은 이벤트 처리하여 값 동기화
    saveFilter(filterArr) {
      if (typeof filterArr === "object") {
        this.filterCategories = filterArr;
      }
    },
    getCategoryName(categoryCode) {
      if (this.categoryLists.length !== 0) {
        //category code is started from '1'
        const index = parseInt(categoryCode) - 1;
        return this.categoryLists[index].name;
      }
    },
    getContentsList(pageNum, order, category) {
      const _self = this;

      this.$http
        .get("/request.php", {
          params: {
            page: pageNum,
            ord: order,
            category: category
          }
        })
        .then(result => {
          result.data.list.map((val, i) => {
            _self.articleLists.push(val);
            _self.isFire = false;
          });
        });
    },
    getAdsList(pageNum) {
      const _self = this;
      const numofLimit = this.decisionLimit(pageNum);

      this.$http
        .get("/ads.php", {
          params: {
            page: pageNum,
            limit: numofLimit
          }
        })
        .then(result => {
          result.data.list.map((val, i) => {
            _self.adsList.push(val);
          });
        });
    },
    getCagetoryLists() {
      const _self = this

      this.$http.get("/category.php").then(result => {
        result.data.list.map((val, i) => {
          _self.categoryLists.push(val);
        });
      });
    },
    // 필터값 boolean -> decimal로 변환 저장 (API Parameter에 사용) cf.) [true, true, true] => [1, 2, 3]
    getFilterValues() {
      const filterArr = [];

      this.filterCategories.map((val, index) => {
        if (val) {
          filterArr.push(index + 1);
        }
      });

      return filterArr;
    },
    // 광고를 삽입하는 개수가 20, 40, 60... 등에서 한 페이지당 3개가 되기 때문에 변수 계산
    decisionLimit(num) {
      const decimal = num * 10;
      if (decimal % 4 === 0) {
        return 3;
      } else {
        return 2;
      }
    },
    // 스크롤 바닥에 닿을 시 리스트 확장
    appendItems() {
      const filter = this.getFilterValues();
      this.isFire = true;

      this.refreshLists(this.pageCounter, "asc", filter)
    }
  },
  created() {
    const _self = this;

    const filter = this.getFilterValues();

    this.refreshLists(this.pageCounter, "asc", filter)
    this.getCagetoryLists()

    //scroll event handler
    window.document.addEventListener("scroll", ev => {
      const scrollableHeight =
        window.document.querySelector("body").scrollHeight -
        window.screen.height;
      const currentPoint = window.scrollY;

      if (scrollableHeight < currentPoint) {
        if (!_self.isFired) {
          _self.appendItems();
        }
      }
    });
  }
};
</script>


<style lang="less" scoped>
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}
#mainView {
  margin: 20px auto;
  section#pageFeatures {
    height: 40px;
    margin-bottom: 20px;
  }
  section#basicContents {
    animation: fade 1s ease-out;
    div.card {
      margin-bottom: 10px;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 1px 1px 10px #000;
        cursor: pointer;
      }
      div.card-header {
        display: inline-block;
        width: 100%;
      }
      div.card-body {
        div.card-info {
          font-size: 13px;
        }
      }
      div.card-contents {
        margin-top: 20px;
        p.card-text {
          width: 100%;
          height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
.active {
  color: red;
}
</style>

