<template>
  <div id="app" class="container justify-content-center">
      <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
div.modal-backdrop.show {
  opacity: 0.7 !important;
}
</style>
